name: CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ dev ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  symfony:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: pdo_sqlite

    - name: Install dependencies
      run: composer install --no-progress --prefer-dist --optimize-autoloader

    - name: Run lint
      run: ./entrypoint.sh lint

    - name: Run tests
      run: ./entrypoint.sh tests
